name: Deploy Github Pages
 
on:
  push:
 
permissions:
  contents: read
  pages: write
  id-token: write
 
concurrency:
  group: "pages"
  cancel-in-progress: false
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout content & config
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for git info
      - name: Checkout Quartz
        uses: actions/checkout@v6
        with:
          repository: jackyzha0/quartz
          path: quartz-repo
      - name: Move Quartz files
        run: mv -vn quartz-repo/* . || true
      - uses: actions/setup-node@v6
        with:
          node-version: 24 # https://github.com/nodejs/node/issues/60790
      - name: Install Dependencies
        run: npm ci
      - name: Build Quartz
        run: npx quartz build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public
 
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
